---

export interface Props {
    name: string;
}

const { name } = Astro.props as Props;
const { default:innerHTML } = await import(`/src/assets/icons/${name}.svg?raw`);

---

<div id="button" class="size-32 block mx-auto">
    <Fragment set:html={innerHTML} />
</div>
